<section class="statistics">
  <header-view></header-view>
  <!-- start: Content -->
  <div class="main">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
              <h2><i class="fa fa-list-alt"></i><span class="break"></span>Chart with points</h2>
              <div class="panel-actions">
                  <a href="javascript:void(0);" class="btn-minimize"><i class="icon-arrow-up"></i></a>
              </div>
          </div>
          <div class="panel-body">
              <nvd3 options='options' data='data'></nvd3>
          </div>
        </div><!--/col-->
      </div>
    </div><!--/row-->
  </div>
  <!-- end: Content -->
</section>
